@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Inter:wght@100..900&display=swap');
*{
    scroll-behavior: smooth;
}

body{
    width: 100%;
    margin: 0;
    padding: 0;
    background: #010100;
    color: white;
    box-sizing: border-box;
    font-family: 'Inter';
}

::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background: #1E1E1E; 
  }
  
  ::-webkit-scrollbar-thumb {
    background: #010100; 
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #161616; 
  }

.ad{
    width: 100%;
    height: 6vh;
    font-size: 14px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #F7C179;
    color: black;
}

.container{
    width: 100%;
    height: 100vh;
    background-image: url('../images/bg.png');
    background-position: center;
    background-size: cover;
}

.navbar-container{
    width: 100%;
    height: 10vh;
    background: #010100ba;
    backdrop-filter: blur(6px);
    position: sticky;
    top: 0px;
    z-index: 10;
}

.navbar{
    width: 90%;
    height: 100%;
    margin: 0 auto; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 500;
}

.navbar a{
    text-decoration: none;
    color: white;
    transition: .3s ease-in-out;
}

.navbar a:hover{
    color: rgb(196, 196, 196);
}

    .links{
        width: 30%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .actions{
        width: 20%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
        .actions a{
            display: flex;
            align-items: center;
            justify-content: center;
        }
            .actions a span{
                font-size: 20px;
            }


.products{
    width: 90%;
    min-height: 100vh;
    height: fit-content;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 4%;
}

.product-head{
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: end;
}

.product-head a{
    text-decoration: none;
    color: inherit;
    font-size: 14px;
}

.product-head a:first-child{
    background: #F7C179;
    width: fit-content;
    color: black;
    padding: 14px 26px;
    font-weight: 500;
    cursor: pointer;
}


.product-head select{
    background: #1E1E1E;
    color: white;
    width: fit-content;
    padding: 14px 26px;
    font-weight: 500;
    cursor: pointer;
    border: none;
}


.product-body{
    width: 100%;
    min-height: 100vh;
    height: fit-content;
    margin-top: 2%;
    display: flex;
    align-items: start;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
}

.product-body a{
    text-decoration: none;
    color: inherit;
    display: block;
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 450px;
    /* min-height: 450px;
    max-height: 500px; */
    margin-bottom: 2%;
    cursor: pointer;
}

.product-body .card{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    /* min-height: 450px;
    max-height: 500px; */
    margin-bottom: 2%;
    cursor: pointer;
}

    .card .img{
        width: 100%;
        height: 85%;
        background: #1E1E1E;
    }


    .card .img .tags .new{
        position: absolute;
        z-index: 1;
        margin-left: 4px;
        margin-top: 4px;
        font-size: 12px;
        font-weight: 800;
        background: #4BB543;
        color: #10350d;
        border: 1px solid #63df5a;
        width: fit-content;
        padding: 4px 8px;
        box-sizing: border-box;
        border-radius: 14px;
    }

    
    .card .img .tags .hot{
        position: absolute;
        z-index: 1;
        margin-left: 4px;
        margin-top: 4px;
        font-size: 12px;
        font-weight: 800;
        background: #DD4124;
        color: #811d0b;
        border: 1px solid #f7573b;
        width: fit-content;
        padding: 4px 8px;
        box-sizing: border-box;
        border-radius: 14px;
    }

    .card .img img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .card .details{
        width: 100%;
        height: 15%;
        line-height: 0px;
        display: flex;
        align-items: center;
        justify-content: start;
        gap: 12px;
        padding-inline: 8px;
        box-sizing: border-box;
    }

    .card .details p:first-child{
        font-size: 20px;
        font-weight: 600;
    }

    .card .details i{
        text-decoration: line-through;
        font-size: 12px;
    }

.products-body .card{
    display: flex;
    flex-direction: column;
    width: 30%;
    min-height: 450px;
    max-height: 500px;
}


.orders{
    width: 100%;
    height: fit-content;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 2%;
}

.order{
    background: #1E1E1E;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #323232;
    box-sizing: border-box;
    width: 70%;
    height: fit-content;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.order .top{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bottom a{
    width: fit-content;
    height: fit-content;
    text-decoration: underline;
}

.bottom .right{
    font-size: 12px;
}

.order .status span{
    font-size: 14px;
}

.order .status .pending{
    display: flex;
    align-items: center;
    gap: 2px;
    width: fit-content;
    background: #007bff;
    border: 1px solid #48a0ff;
    padding: 6px 20px;
    font-size: 14px;
    border-radius: 40px;
}

.order .status .processing{
    display: flex;
    align-items: center;
    gap: 2px;
    width: fit-content;
    background: #28a745  ;
    border: 1px solid #3fe967  ;
    padding: 6px 14px;
    font-size: 14px;
    border-radius: 40px;
}


.order .status .on_delivering{
    display: flex;
    align-items: center;
    gap: 2px;
    width: fit-content;
    background: #fd7e14 ;
    border: 1px solid #ffa154 ;
    color: black;
    padding: 6px 14px;
    font-size: 14px;
    border-radius: 40px;
}

.order .status .delivered{
    display: flex;
    align-items: center;
    gap: 2px;
    width: fit-content;
    background: #6f42c1  ;
    border: 1px solid #8f5dec  ;
    padding: 6px 14px;
    font-size: 14px;
    border-radius: 40px;
}
.order .status .cancelled{
    display: flex;
    align-items: center;
    gap: 2px;
    width: fit-content;
    background: #dc3545  ;
    border: 1px solid #ff4a5d  ;
    padding: 6px 14px;
    font-size: 14px;
    border-radius: 40px;
}

.middle{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.middle img{
    width: 50px;
    height: 50px;
    object-fit: cover;
}
.scop{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 4px;
}

.bottom .left form button{
    all: unset;
    color: inherit;
    text-decoration: none;
    background: #B01C1C;
    color: black;
    box-sizing: border-box;
    padding: 12px;
    border-radius: 6px;
    transition: .3s ease-in;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}

.footer{
    width: 100%;
    height: 16vh;
    border-top: 1px solid #ffffff33;
}

    .footer .top{
        width: 90%;
        height: 50%;
        margin: 0 auto;
        font-weight: 600;
        display: flex;
        align-items: end;
        justify-content: space-between;
    }

        .footer .right{
            font-size: 14px;
            font-weight: 400;
        }

    .footer .bottom{
        width: 90%;
        height: 50%;
        margin: 0 auto;
        display: flex;
        align-items: start;
        justify-content: space-between;
        font-size: 14px;
    }

    .footer a{
        color: white;
        transition: .4 ease-in-out;
    }

    .footer a:hover{
        color: rgb(196, 196, 196);

    }

    


    .popup-message{
        position: fixed;
           top: 10%;
           left: 50%;
           transform: translate(-50%, -50%);
           z-index: 100;
           background: #1E1E1E;
           border: 1px solid #3d3d3d;
           padding: 20px 30px;
           border-radius: 10px;
           opacity: 0;
           animation: fadeInOut 8s ease-in-out forwards;
       }
       
       @keyframes fadeInOut {
           0% {
               top: 0;
               opacity: 0;
           }
           20% {
               top: 10%;
               opacity: 1;
           }
           80% {
               top: 10%;
               opacity: 1;
           }
           100% {
               top: 0%;
               opacity: 0;
           }
       }